<div class="footer-container padding-lr">
    <div class="links">
        <a routerLink="/data-protection">Data-Protection</a>
        <a routerLink="/imprint">Imprint</a>
    </div>

    <div class="icons">
        <a target="_blank" href="https://www.linkedin.com/in/john-fieweger-669495240"><img
                src="../../assets/img/Portfolio developer Akademie - Portfolio/linkedin-box-fill.png"></a>
        <a target="_blank" href="https://www.xing.com/profile/John_Fieweger"><img
                src="../../assets/img/Portfolio developer Akademie - Portfolio/xing-fill.png"></a>
    </div>
</div>