.contact-container {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 36rem;
        height: 37rem;
        h2 {
            color: #2dfcd8;
            font-size: 3rem;
        }
        p {
            color: rgb(255 255 255 / 66%);
        }
        #email {
            color: #2dfcd8;
        }
        span {
            margin: 1rem 0 1rem 0;
        }
        input {
            width: 100%;
            height: 1.8rem;
            background-color: #1a1a1a;
            border: none;
            color: white;
            padding: 12px 20px;
            box-sizing: border-box;
        }
        textarea {
            width: 100%;
            height: 7rem;
            background-color: #1a1a1a;
            border: none;
            color: white;
            resize: none;
            padding: 12px 20px;
            box-sizing: border-box;
        }
        button {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 9rem;
            height: 3rem;
            background: transparent;
            color: #2dfcd8;
            border: 2px solid #2dfcd8;
            cursor: pointer;
            &:hover {
                background-color: #2dfcd8;
                color: black;
            }
        }
    }
}