<div id="contact" class="contact-container">


    <form action="http://john-fieweger.developerakademie.net/send_mail.php" method="POST">
        <h2>Contact me.</h2>
        <p>Get in touch via the form below, or by emailing <span id="email">john.fieweger98@gmail.com</span></p>
        <span>Name</span>
        <input name="name" placeholder="  Enter your name">
        <span>Email address</span>
        <input name="email" placeholder="  Enter your Email address">
        <span>Message</span>
        <textarea name="message" placeholder=" Enter your message"></textarea>
        <button type="submit">Send</button>
    </form>

</div>