<div id="skills" class="skill-container">
    <div>
        <h2>My Skills</h2>
        <div class="skills">
            <div *ngFor="let skill of skill" data-aos="zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000" class="skill-box">
                <div class="img-bg">
                    <img src="assets/img/Portfolio developer Akademie - Portfolio/{{ skill.img }}.png">
                </div>

                <span>{{ skill.name }}</span>
            </div>
        </div>
    </div>
</div>