<div id="portfolio" class="portfolio-container">
    <h2>My Work</h2>
    <div class="work-box">
        <div *ngFor="let portfolio of portfolio" class="img-container">
            <div>
                <h3>{{ portfolio.name }}</h3> <br>
                <p>{{ portfolio.engine }} - {{ portfolio.description }}</p>
                <a target="_blank" href="{{ portfolio.address }}">
                    <button>Try out</button>
                </a>
            </div>
            <img src="assets/img/{{ portfolio.img }}">
        </div>
    </div>
</div>